body {
	font-size: 16px;
	font-family: "Open Sans", serif;
}

.alert {
	text-align: center;
}

h1 {
	font-family: "Chela One", cursive;
	font-weight: 400;
	font-size: 40px;
}

h3 {
	font-family: "Open Sans", serif;
	font-size: 16px;
}

footer {
	font-size: 12px;
	font-family: "Open Sans", serif;
	text-align: center;
}

.margin-base-vertical {
	margin: 40px 0;
}
