<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1 class="margin-base-vertical"><a href="/">SpruceKit</a></h1>
			<p>
			Sorry to see you go, <%= @username %>. Your data has been removed from SpruceKit.  
			</p>
			<br />
			<p>
			Thanks again and hope you will be back.
			</p>
			<br />
		</div>
	</div>
</div>
