<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1 class="margin-base-vertical"><a href="/">Pocketspruce</a></h1>
			<p>
			Check your email, <%= @username %>! A random article from your Pocket list has been emailed to you. 
			</p>
			<br />
			<p>
			Thanks again and hope you enjoy the service.
			</p>
			<br />
		</div>
	</div>
</div>
