<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1 class="margin-base-vertical"><a href="/">SpruceKit</a></h1>
			<p>
			Something is wrong, <%= @username %>. Please try again. If the error persists, drop us an email <a href="mailto:team@sprucekit.com">here</a> and we will check it for you.
			</p>
			<br />
			<p>
			Thanks!
			</p>
			<br />
		</div>
	</div>
</div>
