<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<h1 class="margin-base-vertical"><a href="/">Pocketspruce</a></h1>
			<p>
			Saving links to the wonderful <a href="http://getpocket.com">Pocket</a> but no time to clear the ever-increasing links?
			</p>
			<br/>
			<p>
			Pocketspruce is a simple service that will grab a random link from your list and email it to you daily. <!--Meanwhile, sprucing up your <a href="http://getpocket.com">Pocket</a> list by removing duplicate links.-->
			</p>
			<br />
			<p>
			Try it now! You will be redirected to be authenticated by <a href="http://getpocket.com">Pocket</a>. <!--Pocketspruce will save your email address, <a href="http://getpocket.com">Pocket</a> username and access token, and nothing else.-->
			</p>

			<form action="/login" method="get">
				<p class="input-group">
				<!--span class="input-group-addon"><span class="icon-envelope"></span></span>
				<input type="text" class="form-control input-lg" name="email" placeholder="test@email.com" />
				</p>
				<p class="help-block"><small>No spam. Just the daily article you wanted.</small></p-->
				<p>
				<button type="submit" class="btn btn-success btn-log">Login with Pocket</button>
				</p>
			</form>
		</div>
	</div>
</div>
