<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1 class="margin-base-vertical"><a href="/">SpruceKit</a></h1>
			<p>
			Hello <%= @username %>! 
			</p>
			<br/>
			<p>
			Update your email below.
			</p>
			<br />
			<!-- TODO: add toggle buttons for sending email or not, dropdown for number of articles per mail, timezone -->
			<form name="emailform" action="/saveemail" method="post" onSubmit="return checkEmail()">
				<p class="input-group">
				<span class="input-group-addon"><span class="icon-envelope"></span></span>
				<% unless @email.nil? %>
					<input type="text" class="form-control input-lg" name="email" value='<%= @email %>' />
				<% else %>
					<input type="text" class="form-control input-lg" name="email" placeholder='test@mail.com' />
				<% end %>
				<input type="hidden" id="username" name="username" value="<%= @username %>" />
				</p>
				<p class="help-block"><small>No spam. Just the daily link you wanted.</small></p>
				<p>
				<button type="submit" class="btn btn-success btn-log">Save</button>
				</p>
			</form>
			<br />
		</div>
	</div>
</div>
