<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1 class="margin-base-vertical"><a href="/">SpruceKit</a></h1>
			<p>
			Hello <%= @username %>! 
			</p>
			<br/>
			<p>
			Your article will be sent to the email below.
			</p>
			<form name="emailform" action="/updateprofile" method="get">
				<p class="input-group">
				<span class="input-group-addon"><span class="icon-envelope"></span></span>
				<input type="text" class="form-control input-lg" name="email" value='<%= @email %>' disabled="disabled" />
				</p>
				<br />
				<p>
				<button type="submit" class="btn btn-success btn-log">Update Profile</button>
				</p>
			</form>
			<br />
			<form action="/sendEmails" method="post">
				<p>
				<button type="submit" class="btn btn-success btn-log">Send Email Now!</button>
				<input type="hidden" id='username' name='username' value='<%=@username %>' />
				</p>
			</form>
			<br />
			<form action="/deluser" method="post">
				<p class="input-group">
				<input type='hidden' id='username' name='username' value='<%= @username %>' />
				</p>
				<p>
				<button type="submit" class="btn btn-danger btn-log">Unsubscribe from SpruceKit?</button>
				</p>
			</form>
			<br />
		</div>
	</div>
</div>
